<app-pe-newsletter-header [edition]="newsletterContent?.text?.edition" [heroImage]="newsletterContent?.text?.heroImage">
</app-pe-newsletter-header>

<div class="newsletter-feb26">
    <div class="greeting-section">
        <p class="intro-text">{{ newsletterContent?.text?.introText }}</p>
        <div class="content-section closing-section">
            <div class="section-content">
                <p class="section-description" [innerHTML]="newsletterContent?.text?.closingSubText"></p>
                <p class="signature-name">{{ newsletterContent?.text?.signatureName }}</p>
                <p class="signature-title">{{ newsletterContent?.text?.signatureTitle }}</p>
            </div>
        </div>
    </div>
    <!-- Feature Article Section -->
    <div class="content-section feature-article-section" *ngIf="newsletterContent?.text?.featureArticle as fa">
        <div class="section-header">
            <h2 class="section-title">{{ fa.title }}</h2>
        </div>
        <div class="section-content">
            <p class="section-description" *ngFor="let p of fa.bodyParagraphs" [innerHTML]="p"></p>
        </div>
        <div class="section-content">
            <p class="section-question">
                {{ fa.firstQuestion }}
            </p>
            <p class="section-description">{{ fa.firstAnswer }}</p>
            <p class="section-question">
                {{ fa.secondQuestion }}
            </p>

            <div class="feature-benefits-list">
                <div class="benefit-item" *ngFor="let r of newsletterContent?.text?.featureArticle?.items">
                    <div class="benefit-header-row">
                        <div class="benefit-icon">{{ r.emoji }}</div>
                        <h3 class="benefit-title">{{ r.amount }}</h3>
                    </div>
                    <p class="benefit-desc">{{ r.description }}</p>
                </div>
            </div>
            <p class="section-question">
                {{ fa.thirdQuestion }}
            </p>

            <div class="confidence-block" *ngFor="let help of newsletterContent?.text?.featureArticle?.howHelpsItems">
                <div class="confidence-icon">{{help.emoji}}</div>
                <div class="confidence-text">{{help.description}}</div>
            </div>
            <p class="section-question">
                {{ fa.frequentTraders }}
            </p>
            <p class="section-description">{{ fa.frequentFirstTradersText }}</p>
            <p class="section-description">{{ fa.frequentSecondTradersText }}</p>

        </div>
    </div>
    <div class="content-section webinar-section">
        <div class="webinar-badge">{{newsletterContent?.text?.featureArticle?.exclusive}}</div>
        <div class="section-header">
            <h2 class="webinar-title"> {{newsletterContent?.text?.featureArticle?.joinEvercore}}</h2>
            <p class="webinar-english">{{newsletterContent?.text?.featureArticle?.englishWebinar}}</p>
        </div>
        <div class="section-content">
            <div class="webinar-details">
                <div class="detail-item">
                    <span class="detail-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M16.5 3C16.7761 3 17 3.22386 17 3.5V4H18.5C19.8807 4 21 5.11929 21 6.5V18.5C21 19.8807 19.8807 21 18.5 21H5.5C4.11929 21 3 19.8807 3 18.5V6.5C3 5.11929 4.11929 4 5.5 4H7V3.5C7 3.22386 7.22386 3 7.5 3C7.77614 3 8 3.22386 8 3.5V4H16V3.5C16 3.22386 16.2239 3 16.5 3ZM4 18.5C4 19.3284 4.67157 20 5.5 20H18.5C19.3284 20 20 19.3284 20 18.5V10H4V18.5ZM9 17H8V16H9V17ZM12.5 17H11.5V16H12.5V17ZM16 17H15V16H16V17ZM9 13H8V12H9V13ZM12.5 13H11.5V12H12.5V13ZM16 13H15V12H16V13ZM5.5 5C4.67157 5 4 5.67157 4 6.5V9H20V6.5C20 5.67157 19.3284 5 18.5 5H17V5.5C17 5.77614 16.7761 6 16.5 6C16.2239 6 16 5.77614 16 5.5V5H8V5.5C8 5.77614 7.77614 6 7.5 6C7.22386 6 7 5.77614 7 5.5V5H5.5Z"
                                fill="white" />
                        </svg>
                    </span>
                    <div class="detail-content">
                        <div class="detail-label"> <span
                                [innerHTML]="newsletterContent?.text?.featureArticle?.date"></span>
                            {{newsletterContent?.text?.featureArticle?.DateFeb}}</div>
                    </div>
                </div>

                <div class="detail-item">
                    <span class="detail-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                                fill="white" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11.5 12V5H12.5V11.5H17V12.5H12C11.7239 12.5 11.5 12.2761 11.5 12Z" fill="white" />
                        </svg>
                    </span>
                    <div class="detail-content">
                        <div class="detail-label"><span
                                [innerHTML]="newsletterContent?.text?.featureArticle?.time"></span>
                            {{newsletterContent?.text?.featureArticle?.TimeFeb}}
                        </div>
                    </div>
                </div>

                <a href="javascript:void(0);" class="section-button" (click)="openConditionsApplyLink()">
                    {{ newsletterContent?.text?.featureArticle?.registerToday }}
                </a>
            </div>
        </div>
    </div>


    <!-- Lifestyle Section -->
    <div class="content-section lifestyle-section" *ngIf="newsletterContent?.text?.lifestyle as ls">
        <div class="lifestyle-content">
            <div class="section-header">
                <h2 class="section-title">{{ ls.title }}</h2>
                <h3 class="section-subtitle">{{ ls.subtitle }}</h3>
            </div>
            <div class="section-content">
                <p class="section-description" *ngFor="let p of ls.paragraphs" [innerHTML]="p"></p>
            </div>
            <p class="section-cta">
                <a href="javascript:void(0);" class="section-button" (click)="LearnQEandQT()">
                    {{ ls.ctaText }}
                </a>
            </p>
        </div>
    </div>

    <div class="content-section us-investors-section" *ngIf="newsletterContent?.text?.usInvestors as us">

        <div class="stat-highlight">
            <div class="stat-number">{{us.statNumber}}</div>
            <div class="stat-text" [innerHTML]="us.statText"></div>
        </div>
        <div class="section-content">
            <p class="section-description" [innerHTML]="us.sectionDescription"></p>

            <div class="sentiment-facts">
                <div class="sentiment-fact" *ngFor="let fact of us.sentimentFacts">
                    <div class="fact-emoji">{{fact.factEmoji}}</div>
                    <div class="fact-text">{{fact.factText}}</div>
                </div>
            </div>

            <p class="source-citation">
                {{us.disclaimer}}
                <a *ngIf="us.ctaUrl" (click)="openLink(us.ctaUrl)">{{ us.ctaText }}</a>
                <span *ngIf="!us.ctaUrl">{{ us.ctaText }}</span><span class="ml-2">{{ us.englishsurvey }}</span>
            </p>
        </div>
    </div>
    <div class="content-section story-art-section" *ngIf="newsletterContent?.text?.storyArt as art">
        <div class="story-art-content">
            <img [src]="art.image" class="story-art-image" />
            <div class="section-header">
                <h2 class="section-title">{{ art.title }}</h2>
            </div>
            <div class="section-content">
                <p class="section-description" *ngFor="let p of art.bodyParagraphs" [innerHTML]="p"></p>
            </div>
        </div>
    </div>


    <!-- Webinar Section -->
    <div class="content-section webinars-section" *ngIf="newsletterContent?.text?.webinars as wbs">
        <div class="webinar-badge">{{ wbs.label }}</div>
        <div class="webinar-header">
            <div class="webinar-icon">
                <img [src]="wbs.icon" alt="Webinar icon" />
            </div>
            <h2 class="webinar-title">{{ wbs.title }}</h2>
        </div>
        <div class="section-content">
            <p class="section-description">{{ wbs.description }}</p>
            <p class="section-description">{{ wbs.additionalText }}</p>
            <p class="section-description">{{ wbs.ETFs }}</p>
            <div class="webinar-details">
                <p class="detail-line"><span class="detail-label" [innerHTML]="wbs.dateLabel"></span> {{ wbs.date }}
                </p>
                <p class="detail-line"><span class="detail-label" [innerHTML]="wbs.timeLabel"></span> {{ wbs.time }}
                </p>
            </div>
            <a href="javascript:void(0);" class="webinar-cta" (click)="openLinkWebinar()">
                {{ wbs.ctaText }}
            </a>
        </div>
    </div>


    <div class="content-section cash-section" *ngIf="newsletterContent?.text?.cash as ls">
        <div class="cash-content">
            <div class="section-header">
                <div class="cash-icon">
                    <img [src]="ls.icon" alt="Cash icon" />
                </div>
                <h2 class="section-title">{{ ls.title }}</h2>
            </div>
            <div class="section-content">
                <p class="section-description" *ngFor="let p of ls.paragraphs" [innerHTML]="p"></p>
            </div>
            <a href="javascript:void(0);" class="cash-cta" (click)="learnMore()">
                {{ ls.ctaText }}
            </a>
        </div>
    </div>
</div>

<app-pe-newsletter-footer [footerContent]="newsletterContent"></app-pe-newsletter-footer>